<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.CouponDao">
	

    <insert id="insertCoupon" useGeneratedKeys="true" keyColumn="couponId" keyProperty="couponId" parameterType="Coupon">
        INSERT INTO `coupon`
        SET
        `couponNumber` = #{couponNumber},
        `couponName` = #{couponName},
        `couponEnd` = #{couponEnd},
        status = 'Y',
        `couponPrice` = #{couponPrice},
        `discountRate` = #{discountRate},
        publishedDate = NOW(),
        food_id = null,
        event_id = null
    </insert>
	

	<select id="selectCouponList" resultType="Coupon">
        SELECT
        	couponId,
            couponNumber,
            couponName,
            couponEnd,
            status,
            couponPrice,
            discountRate,
            publishedDate
        FROM coupon
        <if test="!option.equals('ALL')">
        WHERE 
            status = #{option}
        </if>
    </select>
    
    <select id="selectCouponListCount" resultType="int">
        SELECT COUNT(*) AS result
        FROM coupon
        <if test="!option.equals('ALL')">
            WHERE status = #{option}
        </if>
    </select>
    
    <update id="updateCouponStatus">
        UPDATE coupon
		SET STATUS = #{status}
		WHERE couponId = #{couponId}

    </update>

    <select id="selectCouponByEventId" resultType="Map">
        SELECT c.couponId,
               c.couponName,
               c.couponEnd,
               c.couponPrice,
               c.discountRate,
               f.name,
               f.price,
               fi.name fileUrl
        FROM coupon c, food f, food_file fi
        WHERE event_id = #{eventId}
          AND c.food_id = f.foodId
          AND f.foodId = fi.food_id
    </select>

    <insert id="insertMemberCoupon">
        INSERT INTO member_coupon
        SET coupon_id = #{couponId},
            coupon_holder = #{memberId},
            coupon_used = 'N',
            total_discountPrice = (
                    SELECT
                        (c.couponPrice * (c.discountRate/100)) total_discountPrice
                    FROM coupon c, food f
                    WHERE c.couponId = #{couponId}
                    AND c.food_id = f.foodId)
    </insert>

    <select id="selectMemberCoupon" resultType="Map">
        SELECT
            m.id,
            m.coupon_used,
            m.total_discountPrice,
            c.couponName,
            c.status,
            c.couponEnd,
            f.name
        FROM member_coupon m, coupon c, food f
        WHERE m.coupon_id = c.couponId
          AND c.food_id = f.foodId
          AND m.coupon_holder = #{memberId}
          AND c.food_id = #{foodId}
        LIMIT 1;
    </select>
</mapper>