<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.EventDao">
	<resultMap id="exampleResultMap" type="java.util.Map">
        <result column="regDate" property="regDate"/>
        <result column="storename" property="storename"/>
        <result column="status" property="status"/>
        <result column="membername" property="membername"/>
    </resultMap>
    <select id="selectEventList" resultMap="exampleResultMap">
        SELECT
            regDate,
            s.`name` storename,
            s.`status` as status,
            address as address,
            m.`name` membername
        FROM store s, `member` m
        WHERE s.owner_id = m.memberId
        ORDER BY regDate DESC
            LIMIT #{startLimit}, #{endLimit}
    </select>

    <insert id="insertEvent" useGeneratedKeys="true" keyColumn="eventId" keyProperty="EventId" parameterType="Event">
        INSERT INTO `event`
        SET
        regDate = NOW(),
        updateDate = NOW(),
        dueDate = #{dueDate}
        status = 'S',
        body = #{body},
        title = #{title},
        provider_id = #{provider_id}
    </insert>

</mapper>
