<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.LoginInfoDao">
    <select id="selectloginInfo" resultType="LoginInfo">
        SELECT *
        FROM `loginInfo`
        WHERE loginId = #{loginId}
        AND password = #{password}
    </select>

    <insert id="insertLoginInfo">
        INSERT INTO loginInfo
        SET loginId = #{loginId},
        `password`= #{password},
        lastPasswordChanged = NOW(),
        member_id = #{member_id};
    </insert>

    <select id="checkLoginId" resultType="Integer">
        SELECT COUNT(*) AS result
        FROM loginInfo
        WHERE loginId = #{loginId};
    </select>
</mapper>
