<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.MemberDao">
    <select id="selectMemberById" resultType="Member">
        SELECT *
        FROM `member`
        WHERE memberId = #{id}
    </select>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId" parameterType="Member">
        INSERT INTO `member`
        SET `status` = 'Y',
        `name` = #{name},
        phone = #{phone},
        email = #{email},
        nickname = #{nickname},
        `role`= #{role};
    </insert>
    <select id="checkEmail" resultType="Integer">
        SELECT COUNT(*) AS result
        FROM `member`
        WHERE email = #{email};
    </select>
    <select id="checkNickname" resultType="Integer">
        SELECT COUNT(*) AS result
        FROM `member`
        WHERE nickname = #{nickname};
    </select>
    <select id="checkPhone" resultType="Integer">
        SELECT COUNT(*) AS result
        FROM `member`
        WHERE phone = #{phone};
    </select>
    
    
    
    <select id="selectMemberList" resultType="Member">
        SELECT *
        FROM member
        <if test="!option.equals('ALL')">
        WHERE 
            status = #{option}
        </if>
        ORDER BY memberId DESC
            LIMIT #{startLimit}, #{endLimit}
    </select>
    
    <select id="selectMemberListCount" resultType="int">
        SELECT COUNT(*) AS result
        FROM member
        <if test="!option.equals('ALL')">
            WHERE status = #{option}
        </if>
    </select>
    
    <update id="updateMemberStatus">
        UPDATE member
		SET STATUS = #{status}
		WHERE memberId = #{memberId}
    </update>
</mapper>
