<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.wapoo.dao.ProfileDao">

<select id="checkProfile" resultType="Profile">
 SELECT m.`memberId` as memberId,
		l.`loginId` AS loginId,
		m.`name` AS name, 
		m.`phone` AS tel, 
		m.`email` AS email, 
		m.`nickname` AS nickname,
		m.`status` AS status
   FROM `loginInfo` l, `member` m 
  WHERE m.memberId = l.member_id 
    AND m.memberId = #{memberId}
    AND m.status = "Y"
</select>

<update id="insertProfile" >

UPDATE `member`
SET	nickname = #{nickname},
	phone = #{tel},
	email = #{email}
WHERE	memberId = #{memberId}
</update>

<!-- 비밀번호 수정 -->
<update id="insertPassWord" >
UPDATE loginInfo
SET	PASSWORD = #{password}
WHERE	member_id = #{member_id}
</update>

<!-- 회원 확인 -->
<select id="deleteProfileCheck" resultType="LoginInfo">
SELECT	*
FROM	`loginInfo`
WHERE	member_id = #{member_id}
AND	PASSWORD = #{password}
</select>
<!-- 탈퇴하기 -->
<insert id="deleteProfile">
UPDATE `member`
SET	STATUS = 'N'
WHERE	memberId = #{member_id}
</insert>

<!-- 주문 조회 -->
<select id="getOrder" resultType="Order">
SELECT	A.orderId,
	A.orderDate AS 'orderDate',
	A.status AS 'status',
	E.name AS 'storeName',
	A.phone AS 'phone',
	C.name AS 'foodName',
	B.quantity AS 'quantity',
	D.name AS 'image'
FROM	`order` A INNER JOIN  `orderInfo` B INNER JOIN `food` C INNER JOIN `store_file` D INNER JOIN `store` E
ON	A.orderId = B.orderInfoId
AND	B.food_id = C.foodId
AND	C.store_id = D.store_id
AND	C.store_id = E.storeId

WHERE	A.status != 'S'
AND	A.phone= #{phone}


</select>









</mapper>